/* 전역 스타일 */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
}

/* 헤더 스타일 */
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

/* 네비게이션 바 스타일 */
nav {
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding: 0.5rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* 메인 콘텐츠 스타일 */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

/* 로그인 폼 스타일 */
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 340px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

form input, form button {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

p {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
}

/* Adjust spacing and layouts */
div {
    margin-bottom: 20px;
}

img {
    display: flex;
    align-self: center;
    justify-self: center;
    
    margin: 5px;
    padding: 5px;
}

.div-flex-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin-bottom: 20px;
    width: 80%;

    gap: 20px;
}

.div-flex-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

/* 유틸리티 클래스 */
.text-center {
    text-align: center;
}

/* 유틸리티 클래스 */
.error-text {
    text-align: center;
    color: red;
    font-weight: bold;
}
