<nav>
    <div class="div-flex1-column">
        <div class="h4"> </div>
        <div class="h2"><a href="/">Home</a></div>
        <div class="h4"> </div>
        <div class="h3">Keyword</div>
        <div class="h4"><a href="/model">Model</a></div>
        <div class="h4"><a href="/keyword">Keyword</a></div>
        <div class="h4"><a href="/keyword/logs">Logs</a></div>
        <div class="h4"> </div>
        <div class="h3">Awards</div>
        <div class="h4"><a href="/awards1">Awards1</a></div>
        <div class="h4"><a href="/awards2">Awards2</a></div>
    </div>
</nav>

